@charset "UTF-8";
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import "../node_modules/bulma/bulma";
@import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';

$body-color: #dfdfdf;
$font-color: #101010;
$default-font: Google Sans;
$header-font: Fira Sans, sans-serif;

body {
  font-family: $default-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: bold;
  color: $font-color;
}

h1{
  font-size: 130%;
}

h2{
  font-size: 110%;
}

#login{
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 3rem;
}

.is-danger {
  .hero-body {
    min-height: 80vh;
  }
}

#searchbar {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  #title {
    padding-bottom: 1%;
    font-size: 120%;
  }

  .field.has-addons {
    justify-content: center;
    width: 80%;

    .control:not(:last-child) {
      width: 100%;
    }
  }
}

#persons {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .person {
    width: 75%;
    padding-bottom: 1%;

    transition: background-color 2.0s linear;
    :hover {
      background-color: #f6f6f6;
    }
  }
}

#no-results{
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: $danger;
}

#about{
  align-content: center;
  align-items: center;
  width: 80%;
}
